@import 'variables';
h1 {
    color: aqua;
}
h2 {
    color: $red-color;
}
.footer {
    position: absolute;
    bottom: 0px;
    margin: 0px auto;
    background-color: antiquewhite;
    width: 100%;
    padding-top: 10px;
}
.footer p {
    text-align: center;
}
.detail {
    height: 50px;
    width: auto;
}
