.footer {
  position: absolute;
  bottom: 0px;
  margin: 0px auto;
  background-color: antiquewhite;
  width: 100%;
  padding-top: 10px; }

.footer p {
  text-align: center; }

.detail {
  height: 50px;
  width: auto; }

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh; }

.container-weather {
  margin-top: 100px;
  display: flex; }
