<div>
    <h3>Trang chủ:</h3>
    <div class='row'>
        {{#each courses}}
            <div class='col-4'>
                <a href='/course/{{this.slug}}'>
                    <img src={{this.image}} class='img-fluid' alt='...' />

                </a>

                <p>{{this.name}}</p>
                <p>{{this.description}}</p>
            </div>
        {{/each}}
    </div>
</div>