<div class='mt-4 m-4'>
    <form method='post'>
        <div class='mb-3'>
            <label>Tim kiem</label>
            <input
                name='q'
                class='form-control'
                id='exampleInputEmail1'
                aria-describedby='emailHelp'
            />
        </div>
        <button type='submit' class='btn btn-primary'>Submit</button>
    </form>
</div>