<div class='container-weather'>
    <div class='col-3'></div>
    <div class='col-6'>
        <h1>Weather </h1>
        <p>(Thời tiết hôm nay) ({{weather.location.localtime}})</p>
        <p>{{weather.location.name}}
            have a temperature:
            {{weather.current.temperature}}°C and the wind speed is
            {{weather.current.wind_speed}}
            km/h</p>
    </div>
    <div class='col-3'></div>
</div>